@model BinaryPlanet.ViewModels.TableOfContentsViewModel

@{
    ViewBag.Title = "Table of Contents";
}

@section Styles {


    <title>@ViewBag.Title</title>

}

<!-- LINK LIST - SECTION -->
<section class="slice sct-color-2 bb">
    <div class="container">
        <div class="row">
            <h1 style="text-align:center;" class="parallax-title c-white">Table of Contents</h1>            
            <div class="col-md-3">
                <h1 class="parallax-title c-white">0001</h1>
    

                @foreach (BinaryPlanet.Models.Poem p in Model.Section1Poems)
                {
                    <div class="block style-5 v3">
                        <div class="block-icon">
                            @if (Model.HasRead)
                            {
                                <i class="fa fa-check-circle"></i>
                            }
                            else
                            {
                                <i class="fa fa-circle"></i>
                            }
                        </div>
                        <div class="block-content">
                            <a href="@Url.Action("Poem", "Poems", new {Id = p.Id})" class="block-title-2">@p.Name</a>
                            <p>
                                @p.TagLine
                            </p>
                        </div>
                    </div>
                }

            </div> <!-- End of Section 0001 -->
            <!-- SECTION 0010 -->

            <div class="col-md-3">
                <h1 class="parallax-title c-white">0010</h1>

                @foreach (BinaryPlanet.Models.Poem p in Model.Section2Poems)
                {
                    <div class="block style-5 v3">
                        <div class="block-icon">
                            @if (Model.HasRead)
                            {
                                <i class="fa fa-check-circle"></i>
                            }
                            else
                            {
                                <i class="fa fa-circle"></i>
                            }
                        </div>
                        <div class="block-content">
                            <a href="@Url.Action("Poem", "Poems", new {Id = p.Id})" class="block-title-2">@p.Name</a>
                            <p>
                                @p.TagLine
                            </p>
                        </div>
                    </div>
                }

            </div> <!-- END OF SECTION 0010  -->

            <div class="col-md-3">
                <h1 class="parallax-title c-white">0011</h1>

                @foreach (BinaryPlanet.Models.Poem p in Model.Section3Poems)
                {
                    <div class="block style-5 v3">
                        <div class="block-icon">
                            @if (Model.HasRead)
                            {
                                <i class="fa fa-check-circle"></i>
                            }
                            else
                            {
                                <i class="fa fa-circle"></i>
                            }
                        </div>
                        <div class="block-content">
                            <a href="@Url.Action("Poem", "Poems", new {Id = p.Id})" class="block-title-2">@p.Name</a>
                            <p>
                                @p.TagLine
                            </p>
                        </div>
                    </div>
                }


            </div>

            <!-- END OF SECTION 0011 -->

            <div class="col-md-3">
                <h1 class="parallax-title c-white">0100</h1>

                @foreach (BinaryPlanet.Models.Poem p in Model.Section4Poems)
                {
                    <div class="block style-5 v3">
                        <div class="block-icon">
                            <i class="fa fa-check-circle"></i>
                        </div>
                        <div class="block-content">
                            <a href="@Url.Action("Poem", "Poems", new {Id = p.Id})" class="block-title-2">@p.Name</a>
                            <p>
                                @p.TagLine
                            </p>
                        </div>
                    </div>
                }

            </div>

        </div>
    </div>

</section>

