@model BinaryPlanet.ViewModels.TableOfContentsViewModel

@{
    ViewBag.Title = "Table of Contents";
}

@section Styles {


    <title>@ViewBag.Title</title>

}

<!-- LINK LIST - SECTION -->
<section class="slice sct-color-2 bb">
    <div class="container">
        <div class="row">
            <h1 style="text-align:center;" class="parallax-title c-white">Table of Contents</h1>
        </div>
        <div class="row">
            <div style="float:right;">
                @Html.ActionLink("Reset", "Reset", "Home", null, new { @class = "btn btn-1" })
            </div>
        </div>
        <div class="row">

            <div class="col-md-3">

                <h1 class="parallax-title c-white"><a href="@Url.Action("SectionOne", "Poems")">0001</a></h1>


                @foreach (BinaryPlanet.Models.Poem p in Model.Section1Poems)
                {
                    <div class="block style-5 v3">
                        <div class="block-icon">
                            @if (Model.HasRead(p.Id))
                            {
                                <i class="fa fa-check-square-o"></i>
                            }
                            else
                            {
                                <i class="fa fa-square-o"></i>
                            }
                        </div>
                        <div class="block-content">
                            <a href="@Url.Action("Poem", "Poems", new {Id = p.Id})" class="block-title-2">@p.Name</a>
                            @*<p>
                                @p.TagLine
                            </p>*@
                        </div>
                    </div>
                    <br />
                }

            </div> <!-- End of Section 0001 -->
            <!-- SECTION 0010 -->

            <div class="col-md-3">
                <h1 class="parallax-title c-white"><a href="@Url.Action("SectionTwo", "Poems")">0010</a></h1>

                @foreach (BinaryPlanet.Models.Poem p in Model.Section2Poems)
                {
                    <div class="block style-5 v3">
                        <div class="block-icon">
                            @if (Model.HasRead(p.Id))
                            {
                                <i class="fa fa-check-square-o"></i>
                            }
                            else
                            {
                                <i class="fa fa-square-o"></i>
                            }
                        </div>
                        <div class="block-content">
                            <a href="@Url.Action("Poem", "Poems", new {Id = p.Id})" class="block-title-2">@p.Name</a>
                            @*<p>
                                @p.TagLine
                            </p>*@
                        </div>
                    </div>
                    <br />
                }

            </div> <!-- END OF SECTION 0010  -->

            <div class="col-md-3">
                <h1 class="parallax-title c-white"><a href="@Url.Action("SectionThree", "Poems")">0011</a></h1>

                @foreach (BinaryPlanet.Models.Poem p in Model.Section3Poems)
                {
                    <div class="block style-5 v3">
                        <div class="block-icon">
                            @if (Model.HasRead(p.Id))
                            {
                                <i class="fa fa-check-square-o"></i>
                            }
                            else
                            {
                                <i class="fa fa-square-o"></i>
                            }
                        </div>
                        <div class="block-content">
                            <a href="@Url.Action("Poem", "Poems", new {Id = p.Id})" class="block-title-2">@p.Name</a>
                            @*<p>
                                @p.TagLine
                            </p>*@
                        </div>
                    </div>
                    <br />
                }


            </div>

            <!-- END OF SECTION 0100 -->

            <div class="col-md-3">
                <h1 class="parallax-title c-white"><a href="@Url.Action("SectionFour", "Poems")">0100</a></h1>

                @foreach (BinaryPlanet.Models.Poem p in Model.Section4Poems)
                {
                    <div class="block style-5 v3">
                        <div class="block-icon">
                            @if (Model.HasRead(p.Id))
                            {
                                <i class="fa fa-check-square-o"></i>
                            }
                            else
                            {
                                <i class="fa fa-square-o"></i>
                            }
                        </div>
                        <div class="block-content">
                            <a href="@Url.Action("Poem", "Poems", new {Id = p.Id})" class="block-title-2">@p.Name</a>
                            @*<p>
                        @p.TagLine
                    </p>*@
                        </div>
                    </div>
                    <br />
                }

            </div>

        </div>
    </div>

</section>

