@{
    ViewBag.Title = "Table of Contents";
}

@section Styles {

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Table of Contents</title>

    <link href="~/Content/css/custom-TOC-styles.css" rel="stylesheet" />
}


<!-- SECTION -->
<section class="sct-color-1 slice">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-9">

                <h1 class="toc-heading" style="font:xx-large">
                    Table of Contents
                </h1>

                <div id="toc">

                    <ul class="list-style-1 v2">
                        <li><b>00000001</b></li>
                        <li><a href="@Url.Action("Poem", "ShowPoems", new {fileName="Fugue_Before_Lunch"})">Fugue Before Lunch</a></li>
                        <li><a href="@Url.Action("Poem", "ShowPoems", new {fileName="Santa_Clara_Server_Room"})">Santa Clara Server Room</a></li>
                        <li><a href="@Url.Action("Poem", "ShowPoems", new {fileName="sketch_of_a_poem_in_10_broken_lines"})">Sketch of a Poem in 10 Broken Lines</a></li>
                        <li><a href="@Url.Action("Poem", "ShowPoems", new {fileName="brain_imaging"})">Brain Imaging</a></li>
                        <li><a href="@Url.Action("Poem", "ShowPoems", new {fileName="portrait_of_a _family_as_four_discrete_stanzas"})">Portrait of a Family as Four Discrete Stanzas</a></li>
                        <li><a href="#">One Night in the Dharma Lounge</a></li>
                        <li><a href="#">From Jersey City With Love & Squalor</a></li>
                        <li><a href="#">Happiness</a></li>
                        <li><a href="#">Years Later, Frank O’Hara</a></li>
                        <li><a href="#">Twilight Zone Reboot</a></li>
                        <li><a href="#">The Sonnosphere [Fragments of a Sci-Fi Epic]</a></li>
                        <li><a href="#">The Convergence</a></li>
                        <li><a href="#">HAL 9000 [A Year Before the Jupiter Launch]</a></li>
                        <li><a href="#">Machine Language</a></li>
                    </ul>
                    <br /><br />
                    <ul class="list-style-1 v2">
                        <li><b>00000010</b></li>
                        <li><a href="#">30 Second Saga</a></li>
                        <li><a href="#">Action Poem: A Non-Combatants’ Vietnam</a></li>
                        <li><a href="#">7 Disappearing Words</a></li>
                        <li><a href="#">And Now a Word From the Management</a></li>
                        <li><a href="#">Last Meal at Blue Earth Cafe</a></li>
                        <li><a href="#">Audio Tour of a Box</a></li>
                        <li><a href="#">What is it like to lose yourself?</a></li>
                        <li><a href="#">Love in the Age of Communism</a></li>
                        <li><a href="#">Sex and its Discontents</a></li>
                        <li><a href="#">Spy Verses Spy [Fragments of a 60’s Spy Novel]</a></li>
                        <li><a href="#">The Singing Commuters</a></li>
                        <li><a href="#">Year of the Shoe</a></li>
                        <li><a href="#">When Victor and Linden got Married</a></li>
                        <li><a href="#">Television is not for Everyone</a></li>
                        <li><a href="#">Oh, Columbia!</a></li>
                        <li><a href="#">Joe McCarthy</a></li>
                    </ul>
                    <br /><br />
                    <ul class="list-style-1 v2">
                        <li><b>00000011</b></li>
                        <li><a href="#">Taking the Fall</a></li>
                        <li><a href="#">The Age of Children</a></li>
                        <li><a href="#">Leaving</a></li>
                        <li><a href="#">They Almost Look Like us</a></li>
                        <li><a href="#">Think of the Children</a></li>
                        <li><a href="#">Roadside Reckoning</a></li>
                        <li><a href="#">Saturday Morning</a></li>
                        <li><a href="#">The ZooMonkey</a></li>
                        <li><a href="#">Girl in a Supermarket</a></li>
                        <li><a href="#">Elegy for a Spin Instructor</a></li>
                        <li><a href="#">The Cosmological Constant</a></li>
                        <li><a href="#">Living by Days</a></li>
                        <li><a href="#">The Meaning of Snow</a></li>
                        <li><a href="#">The Art of the Poem</a></li>
                    </ul>
                    <br /><br />
                    <ul class="list-style-1 v2">
                        <li><b>00000100</b></li>
                        <li><a href="#">The Love Poem of an Average Man</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


