@{
    ViewBag.Title = "Table of Contents";
}

@section Styles {


    <title>@ViewBag.Title</title>

}

<!-- LINK LIST - SECTION -->
<section class="slice sct-color-2 bb">
    <div class="container">
        <div class="row">
            <h1 style="text-align:center;" class="parallax-title c-white">Table of Contents</h1>
            <div class="col-md-3">
                <h1 class="parallax-title c-white">0001</h1>
                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="@Url.Action("Poem", "Poems", new {fileName="fugue_before_lunch"})" class="block-title-2">Fugue Before Lunch</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>
                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="@Url.Action("Poem", "Poems", new {fileName="santa_clara_server_room"})" class="block-title-2">Santa Clara Server Room</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>
                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="@Url.Action("Poem", "Poems", new {fileName="sketch_of_a_poem_in_10_broken_lines"})" class="block-title-2">Sketch of a Poem in 10 Broken Lines</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>
                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="@Url.Action("Poem", "Poems", new {fileName="brain_imaging"})" class="block-title-2">Brain Imaging</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>
                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="@Url.Action("Poem", "Poems", new {fileName="portrait_of_a_family_as_four_discrete_stanzas"})" class="block-title-2">Portrait Of A Family As Four Discrete Stanzas</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>
                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="@Url.Action("Poem", "Poems", new {fileName="one_night_in_the_dharma_lounge"})" class="block-title-2">One Night in the Dharma Lounge</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>
                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">From Jersey City With Love & Squalor</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>
                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">Happiness</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>
                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">Years Later, Frank O’Hara</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>
                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">Twilight Zone Reboot</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>
                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">The Sonnosphere [Fragments of a Sci-Fi Epic]</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>
                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">The Convergence</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>

                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">HAL 9000 [A Year Before the Jupiter Launch]</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>

                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">Machine Language</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>

            </div> <!-- End of Section 0001 -->
            <!-- SECTION 0010 -->

            <div class="col-md-3">
                <h1 class="parallax-title c-white">0010</h1>
                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">30 Second Saga</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>
                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">Action Poem: A Non-Combatants’ Vietnam</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>

                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">7 Disappearing Words</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>

            <div class="block style-5 v3">
                <div class="block-icon">
                    <i class="fa fa-circle"></i>
                </div>
                <div class="block-content">
                    <a href="#" class="block-title-2">Last Meal at Blue Earth Cafe</a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                    </p>
                </div>
            </div>

            <div class="block style-5 v3">
                <div class="block-icon">
                    <i class="fa fa-circle"></i>
                </div>
                <div class="block-content">
                    <a href="#" class="block-title-2">Audio Tour of a Box</a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                    </p>
                </div>
            </div>

            <div class="block style-5 v3">
                <div class="block-icon">
                    <i class="fa fa-circle"></i>
                </div>
                <div class="block-content">
                    <a href="#" class="block-title-2">What is it like to lose yourself?</a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                    </p>
                </div>
            </div>

            <div class="block style-5 v3">
                <div class="block-icon">
                    <i class="fa fa-circle"></i>
                </div>
                <div class="block-content">
                    <a href="#" class="block-title-2">Love in the Age of Communism</a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                    </p>
                </div>
            </div>

            <div class="block style-5 v3">
                <div class="block-icon">
                    <i class="fa fa-circle"></i>
                </div>
                <div class="block-content">
                    <a href="#" class="block-title-2">Sex and its Discontents</a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                    </p>
                </div>
            </div>

            <div class="block style-5 v3">
                <div class="block-icon">
                    <i class="fa fa-circle"></i>
                </div>
                <div class="block-content">
                    <a href="#" class="block-title-2">Spy Verses Spy [Fragments of a 60’s Spy Novel]</a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                    </p>
                </div>
            </div>

            <div class="block style-5 v3">
                <div class="block-icon">
                    <i class="fa fa-circle"></i>
                </div>
                <div class="block-content">
                    <a href="#" class="block-title-2">The Singing Commuters</a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                    </p>
                </div>
            </div>

            <div class="block style-5 v3">
                <div class="block-icon">
                    <i class="fa fa-circle"></i>
                </div>
                <div class="block-content">
                    <a href="#" class="block-title-2">Year of the Shoe</a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                    </p>
                </div>
            </div>

            <div class="block style-5 v3">
                <div class="block-icon">
                    <i class="fa fa-circle"></i>
                </div>
                <div class="block-content">
                    <a href="#" class="block-title-2">When Victor and Linden got Married</a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                    </p>
                </div>
            </div>

            <div class="block style-5 v3">
                <div class="block-icon">
                    <i class="fa fa-circle"></i>
                </div>
                <div class="block-content">
                    <a href="#" class="block-title-2">Television is not for Everyone</a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                    </p>
                </div>
            </div>

            <div class="block style-5 v3">
                <div class="block-icon">
                    <i class="fa fa-circle"></i>
                </div>
                <div class="block-content">
                    <a href="#" class="block-title-2">Oh, Columbia!</a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                    </p>
                </div>
            </div>

            <div class="block style-5 v3">
                <div class="block-icon">
                    <i class="fa fa-circle"></i>
                </div>
                <div class="block-content">
                    <a href="#" class="block-title-2">Joe McCarthy</a>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                    </p>
                </div>
            </div>

            </div> <!-- END OF SECTION 0010  --> 

            <div class="col-md-3">
                <h1 class="parallax-title c-white">0011</h1>
                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">Taking the Fall</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>
                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">The Age of Children</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>
                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">Leaving</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>

                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">They Almost Look Like Us</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>

                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">Think of the Children</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>

                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">Roadside Reckoning</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>

                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">Saturday Morning</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>

                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">The ZooMonkey</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>

                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">Girl in a Supermarket</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>

                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">Elegy for a Spin Instructor</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>

                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">The Cosmological Constant</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>

                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">Living by Days</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>

                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">The Meaning of Snow</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>

                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">The Art of the Poem</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>

            </div>

            <!-- END OF SECTION 0011 -->

            <div class="col-md-3">
                <h1 class="parallax-title c-white">0100</h1>
                <div class="block style-5 v3">
                    <div class="block-icon">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="block-content">
                        <a href="#" class="block-title-2">The Love Poem of an Average Man</a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>

</section>

