@model BinaryPlanet.ViewModels.PoemViewModel

@section Styles {

    <link href="~/Content/css/custom-row-equal-sizeer.css" rel="stylesheet" />
    <link href="~/Content/css/custom-hypertext-poem-josefin-style.css" rel="stylesheet" />
    <link href="~/Content/css/custom-links-style.css" rel="stylesheet" />

    <title>@Model.Name</title>

}
    <div class="container">

        <div class="row eq-size poem-space col-md-12">

            <div class="col-md-3">
                <h1><small>< 0010 ></small></h1>
            </div>

            <div class="col-md-6">
                <br />
                <div class="block style-3">
                    <div class="block-image">
                        <div class="view">
                            <img src='@Model.FileNameJpg' title="@Model.Name">
                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-6 Image -->

        </div>

        <div class="row eq-size poem-space col-md-12">

            <div class="col-md-3">
                &nbsp;
            </div>

            <div class="col-md-6">
                <div id="poem">
                    <h1 class="title">@Model.Name</h1>
                    <p style="text-align:center;">
                        First to go were the [vulnerable] with little voice<br />
                        and no [entitlement] to fairness. Next up<br />
                        [diversity] was whited out in one clean stroke<br />
                        along with [evidenced-based] as in "provable",<br />
                        or "true". Words that made people feel uncomfortable<br />
                        like [fetus] or threatened the powerful<br />
                        like [science-based] had to be deleted. Without words<br />
                        you can even make a people disappear<br />
                        so on a plain gray desk, a blunt red pen crossed out<br />
                        [transgender] and they were gone.
                    </p>
                    <br />
                    <p class="publication">
                        First Published in Lummox 7
                    </p>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <div class="row">
                        <p>
                            <sup>*</sup>The forbidden words are "vulnerable," "entitlement," "diversity," "transgender," "fetus," "evidence-based" and "science-based." See <a target="_blank" href="https://www.washingtonpost.com/national/health-science/cdc-gets-list-of-forbidden-words-fetus-transgender-diversity/2017/12/15/f503837a-e1cf-11e7-89e8-edec16379010_story.html?utm_term=.4d4519aaf68d&noredirect=on">Washington Post, December 15, 2017, CDC Gets List of Forbidden Words</a>.
                        </p>
                    </div>
                </div>

            </div> <!-- .col-md-6 Poem -->

            @Html.Partial("_PoemNavFooter")
            <br /><br />

        </div> <!-- 10 col row  -->

    </div>  <!-- .container -->
