@model BinaryPlanet.ViewModels.PoemViewModel

@section Styles {

    <link href="~/Content/css/custom-row-equal-sizeer.css" rel="stylesheet" />
    <link href="~/Content/css/custom-hypertext-poem-josefin-style.css" rel="stylesheet" />

    <title>@Model.Name</title>

}
<div class="container">

    <div class="row eq-size poem-space col-md-12">

        <div class="col-md-3">
            <h1><small>< 0001 ></small></h1>
        </div>

        <div class="col-md-6">
            <br />
            <div class="block style-3">
                <div class="block-image">
                    <div class="view">
                        <img src='@Model.FileNameJpg' title=@Model.Name>
                    </div>
                </div>
                <div class="audio" data-toggle="tooltip" title="Hit play to listen to a reading of @Model.Name.">
                    <audio controls="controls">
                        <source src='@Model.FileNameMP3' type="audio/mpeg" />
                    </audio>
                </div>
            </div>

            <div id="poem">

                <h1 class="title">@Model.Name</h1>
                <p class="hyperlines">
                    just what is this brain we never get to see<br />
                    can you shake it [turn it upside down]<br />
                    [is it a glass jar] of particles sparking out<br />
                    in every direction [could it be solid] like<br />
                    four brick walls [obedient] like a good<br />
                    light bulb [turning on] [turning off] is it<br />
                    careful [this brain] or riotous like a [movie]&nbsp;&nbsp;<br />
                    with arrogant actors [rewriting] their<br />
                    lines [or dignified] like a Museum of Time<br />
                    a palace of high vaulted [ceilings] of<br />
                    [cabinets] and [cases] of gold-leaf sheets<br />
                    stacked by love by <span data-toggle="tooltip" title="&nbsp;@Model.GetPoemName(30)&nbsp;">@Html.ActionLink("hate", "poem", "poems", new { id = 30 }, null)</span> by anger by fear<br />
                    with gale-force thoughts like a planet<br />
                    so small its [years] come in [seconds]<br />
                    leaving no chance to put on a winter hat<br />
                    or swat the flies inside a summer house<br />
                    [smoky] this brain and webbed in circles<br />
                    plotting and dreaming [even as we sleep]<br />
                    this [brain] that [knows no end] but calls<br />
                    like a [doorbell] pulling you to the window<br />
                    only to find [the mailman] gone and a single<br />
                    [postcard] left in the box<br />
                </p>
                <br />
                <p class="publication">
                    First Published in Whimperbang
                </p>
            </div>
        </div> <!-- .col 6 -->
        @Html.Partial("_PoemNavFooter")
        <br /><br />
    </div> <!-- .row -->
</div>  <!-- .container -->
