@model BinaryPlanet.ViewModels.PoemViewModel

@section Styles {

    <link href="~/Content/css/custom-row-equal-sizeer.css" rel="stylesheet" />
    <link href="~/Content/css/custom-libre-baskerville-style.css" rel="stylesheet" />

    <title>@Model.Name</title>

}
<div class="container">

    <div class="row eq-size poem-space col-md-12">

        <div class="col-md-3">
            <h1><small>< 0001 ></small></h1>
        </div>

        <div class="col-md-6">
            <br />
            <div class="block style-3">
                <div class="block-image">
                    <div class="view">
                        <img src='@Model.FileNameJpg' title="@Model.Name">
                    </div>
                </div>
            </div>

            <div id="poem">

                <h1 class="title">@Model.Name</h1>
                <p>
                    Computer code is written<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;in lines not much different<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;from what you see here<br />
                </p>
                <p>
                    they both use symbols<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;that mean other things<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;whitespace counts for nothing.<br />
                </p>
                <p>
                    It's similar to what one might see<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;coming across a score by Bach<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;whose abiding Lutheran faith<br />
                </p>
                <p>
                    is easy to factor out<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or disregard entirely<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;from a modern point of view.
                </p>
                <p>
                    He knew death well <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the good Kapellmeister<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;writing dots on lined sheets
                </p>
                <p>
                    despite the dying children, the loss<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;of wife, parents, the odor of rancid food<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;at his wood desk, writing<br />
                </p>
                <p>
                    <i>Gott ist mein König</i>.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I'm listening on YouTube<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;writing symbols for machines<br />
                </p>
                <p>
                    death in all its baroque decor<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;flowing into my earbuds,<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bach's long forsaken plea<br />
                </p>
                <p>
                    for mercy still unheard. For now<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I'm writing "If" statements<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;words in { curly braces }<br />
                </p>
                <p>
                    following the syntax,<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;first I make a space<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;then I write a line.<br />
                </p>
            </div>
        </div> <!-- .col 6 -->
        @Html.Partial("_PoemNavFooter")
        <br /><br />
    </div> <!-- .row -->
</div>  <!-- .container -->