@model BinaryPlanet.ViewModels.PoemViewModel

@section Styles {

    <link href="~/Content/css/custom-row-equal-sizeer.css" rel="stylesheet" />
    <link href="~/Content/css/custom-hypertext-poem-josefin-style.css" rel="stylesheet" />

    <title>@Model.Name</title>

}
    <div class="container">

        <div class="row eq-size poem-space col-md-12">

            <div class="col-md-3">
                <h1><small>< 0011 ></small></h1>
            </div>

            <div class="col-md-6">
                <br />
                <div class="block style-3">
                    <div class="block-image">
                        <div class="view">
                            <img src='@Model.FileNameJpg' title="@Model.Name">
                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-6 Image -->

        </div>

        <div class="row eq-size poem-space col-md-12">

            <div class="col-md-3">
                &nbsp;
            </div>

            <div class="col-md-7">
                <div id="poem">
                    <h1 class="title">@Model.Name</h1>
                    <p>
                        she has eyes [that trail off] into her [head] where<br />
                        even [a young <span data-toggle="tooltip" title="&nbsp;@Model.GetPoemName(4)&nbsp;">@Html.ActionLink("brain", "poem", "poems", new { id = 4 }, null)</span>] works to make [sense] of<br />
                        [aisles] of [ears] of [corn] the [directionless] wheels<br />
                        of [shopping carts] the where and how people<br />
                        walk [the things] they take [or leave behind] the<br />
                        [vibe that things are not the way anyone appears<br />
                        to want them] and you’re the mom with little<br />
                        [brother] strapped into the baby seat and you’ve<br />
                        figured me for a fast two item checkout [Cliff Bar<br />
                        and a Coke] when your girl [kills me] with those eyes<br />
                        forcing me to return a strange exaggerated face<br />
                        [like Marlon Brando just before he dies in Godfather I]<br />
                        and you and I share a knowing look as the [conveyor]<br />
                        drags [my Coke] wobbling down the belt and we agree<br />
                        in silence [not to tell them] we’re monsters<br />
                    </p>

                </div>

            </div> <!-- .col-md-6 Poem -->

            @Html.Partial("_PoemNavFooter")
            <br /><br />

        </div> <!-- 10 col row  -->

    </div>  <!-- .container -->
