@model BinaryPlanet.ViewModels.PoemViewModel

@section Styles {

    <link href="~/Content/css/custom-row-equal-sizeer.css" rel="stylesheet" />
    <link href="~/Content/css/custom-hypertext-poem-josefin-style.css" rel="stylesheet" />

    <title>@Model.Name</title>

}
    <div class="container">

        <div class="row eq-size poem-space col-md-12">

            <div class="col-md-3">
                <h1><small>< 0010 ></small></h1>
            </div>

            <div class="col-md-6">
                <br />
                <div class="block style-3">
                    <div class="block-image">
                        <div class="view">
                            <img src='@Model.FileNameJpg' title="@Model.Name">
                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-6 Image -->

        </div>

        <div class="row eq-size poem-space col-md-12">

            <div class="col-md-3">
                &nbsp;
            </div>

            <div class="col-md-6">
                <div id="poem">
                    <h1 class="title">@Model.Name</h1>
                    <p>
                        We were reds and lovers. Marx and Engels. Trotsky<br />
                        and Stalin. Just a couple of Bolsheviks sharing<br />
                        our happiness in a dictatorship of the proletariat,<br />
                        each according to our needs with nothing to lose<br />
                        but our chains. Hammer and Sickle. Molotov and<br />
                        cocktails. Making love in the red square of our petty<br />
                        bourgeois bed. Practicing the oldest ideology with<br />
                        scientific materialism. Twirling each other like Hagel<br />
                        turned on his head, we pursued a dialectic synthesis<br />
                        with thrusts of thesis and antithesis, each according<br />
                        to our ability. Just another Nicholas and  Alexandria,<br />
                        Groucho  and John. In the repose of a Prague Spring.<br />
                        Making headlines in the Daily Worker until the end<br />
                        of another 5 year plan and the inherent  contradiction<br />
                        of capitalism doomed the party. Despite the desire<br />
                        for permanent revolution with history on our side,<br />
                        we were never happy. Seeing no great leap forward<br />
                        we walked away like the dream of worldwide socialism.<br />
                    </p>

                </div>

            </div> <!-- .col-md-6 Poem -->

            @Html.Partial("_PoemNavFooter")
            <br /><br />

        </div> <!-- 10 col row  -->

    </div>  <!-- .container -->
