@model BinaryPlanet.ViewModels.PoemViewModel

@section Styles {

    <link href="~/Content/css/custom-row-equal-sizeer.css" rel="stylesheet" />
    <link href="~/Content/css/custom-prose-poem-cutive-mon-style.css" rel="stylesheet" />

    <title>@Model.Name</title>

}
<div class="container">

    <div class="row eq-size poem-space col-md-10">

        <div class="col-md-3">
            &nbsp;
        </div>

        <div class="col-md-6">
            <br />
            <div class="block style-3">
                <div class="block-image">
                    <div class="view">
                        <img src='@Model.FileNameJpg' title="@Model.Name">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row eq-size poem-space col-md-10">

        <div class="col-md-1">
            &nbsp;
        </div>

        <div class="col-md-10">
            <div id="poem">
                <h1 class="title">@Model.Name</h1>
                <p>
                <p style="text-align:justify">
                    Despairing of life, a man walks into a bar. It is dark. There is sawdust on the floor. At first he cannot see. The bartender asks what he wants. Despairing of life, the man asks him, "I want to know how God answers prayers." "That's not unreasonable," says the bartender, pouring three fingers of whiskey into the man's glass. Lord Krishna, in the guise of the bartender now begins:
                    "Buy a car. Pay for it with American dollars. Depending on where you are standing, drive either north or south to a cold place. Find a snowy field. Stop your car. Get out. Take a picture. Focus on the snow. Use just one shot. Get back into the car. Drive to the place where you began. Look carefully at the picture. If and when you see my face appear in the blank white snow, then you shall have your answer."
                </p>                
            </div>
            @Html.Partial("_PoemNavFooter")
            <br /><br />
        </div>

    </div>


</div> <!-- .container -->
