@model BinaryPlanet.ViewModels.PoemViewModel

@section Styles {

    <link href="~/Content/css/custom-row-equal-sizeer.css" rel="stylesheet" />
    <link href="~/Content/css/custom-libre-baskerville-style.css" rel="stylesheet" />

    <title>@Model.Name</title>

}
<div class="container">

    <div class="row eq-size poem-space col-md-10">

        <div class="col-md-3">
            <h1><small>0001</small></h1>
        </div>

        <div class="col-md-6">
            <br />
            <div class="block style-3">
                <div class="block-image">
                    <div class="view">
                        <img src='@Model.FileNameJpg' title="@Model.Name">
                    </div>
                </div>
            </div>

            <div id="poem">

                <h1 class="title">@Model.Name</h1>
                <p>
                    1.<br />
                    I fall into sofas lengthwise on cold afternoons dreaming.<br />
                    Sometimes [<b>Stanza 3</b>], long dead, appears as a mother's scold.<br />
                </p>
                <br />
                <p>
                    2.<br />
                    Let me say a word about my brother<br />
                    Asleep on his couch dreaming of mother.<br />
                    He'll never know what I did in those days&nbsp;&nbsp;<br />
                    When sister was ill but could have been saved. <br />
                    Why wasn't he there in the waiting room<br />
                    Hearing the news: [<b>Stanza 4</b>]&nbsp;&nbsp;gone too soon.<br />
                    Instead he became a long distance call<br />
                    Back in California telling us all<br />
                    "There's nothing to do, " he'd say on the phone<br />
                    But that was no cause to leave us alone.<br />
                </p>
                <br />
                <p>
                    3.<br />
                    These are my children.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A bit cruel of [<b>Stanza 1</b>]<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to write us this way.<br />
                </p>
                <br />
                <p>
                    4.<br />
                    do any of your know how hard it is to live by the hour <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;by the minute<br />
                    seeing the self&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;set out before you	 like a tray of hospital food<br />
                    poor [<b>Stanza 2</b>]	drove all night through New Jersey<br />
                    and still did not&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;make it	 on time<br />
                    leaving me to wonder<br />
                    did he stop off for&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;coffee at one of those 	all night diners<br />
                    for a slice of refrigerated&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cheesecake<br />
                    I was imagining the&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;leftover crumbs on a blueberry plate<br />
                    as the doctors&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;were ruling out the&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;options<br />
                    and all I wanted&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to do was die<br />
                </p>
            </div>
        </div> <!-- .col 6 -->
        @Html.Partial("_PoemNavFooter")
        <br /><br />
    </div> <!-- .row -->
</div>  <!-- .container -->
