@model BinaryPlanet.ViewModels.PoemViewModel

@section Styles {

    <link href="~/Content/css/custom-row-equal-sizeer.css" rel="stylesheet" />
    <link href="~/Content/css/custom-libre-baskerville-style.css" rel="stylesheet" />

    <title>@Model.Name</title>

}
<div class="container">

    <div class="row eq-size poem-space col-md-10">

        <div class="col-md-3">
            &nbsp;
        </div>

        <div class="col-md-6">
            <br />
            <div class="block style-3">
                <div class="block-image">
                    <div class="view">
                        <img src='@Model.FileNameJpg' title="@Model.Name">
                    </div>
                </div>
            </div>

            <div id="poem">

                <h1 class="title">@Model.Name</h1>
                <p>
                    I don't want you to <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;look at these lines as tercets.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;There are only ten<br />
                </p>
                <p>
                    words in this poem.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;They go flush left down the page.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Each word breaks its own<br />
                <p>
                    line. <b>]he</b>] is on top,<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a man and I was a boy.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Then <b>]took</b>] and next <b>]me</b>]<br />
                </p>
                <p>
                    down <b>]to</b>] <b>]the</b>] <b>]movies</b>]. <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Just off forty-second street<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;so crazy back <b>]then</b>].<br />
                </p>
                <p>
                    My loose-leaf sheets were<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;out of order. Owing <b>]to</b>]<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;missing so much school.<br />
                </p>
                <p>
                    I was alone and<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;just <b>]his</b>] above the last line<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>]hotel</b>]. Close the door.<br />
                </p>
            </div>
        </div> <!-- .col 6 -->
        @Html.Partial("_PoemNavFooter")
        <br /><br />
    </div> <!-- .row -->
</div>  <!-- .container -->
