@model BinaryPlanet.ViewModels.PoemViewModel

@section Styles {

    <link href="~/Content/css/custom-row-equal-sizeer.css" rel="stylesheet" />
    <link href="~/Content/css/custom-prose-poem-cutive-mon-style.css" rel="stylesheet" />

    <title>@Model.Name</title>

}
    <div class="container">

        <div class="row eq-size poem-space col-md-12">

            <div class="col-md-3">
                <h1><small>< 0010 ></small></h1>
            </div>

            <div class="col-md-6">
                <br />
                <div class="block style-3">
                    <div class="block-image">
                        <div class="view">
                            <img src='@Model.FileNameJpg' title="@Model.Name">
                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-6 Image -->

        </div>

        <div class="row eq-size poem-space col-md-12">

            <div class="col-md-1">
                &nbsp;
            </div>

            <div class="col-md-10">
                <div id="poem">
                    <h1 class="title">@Model.Name</h1>
                    <p style="text-align:justify;">
                        Side effects include dizziness, fatigue, upset stomach and nausea. Prolonged television watching may lead to weight gain, missing sleep, nervousness and a feeling of numbness. Television contains cable news. Don’t watch cable news if you are disturbed by scenes of adult men and women shouting at each other. The viewing of television is not recommended for <span data-toggle="tooltip" title="&nbsp;@Model.GetPoemName(37)&nbsp;">@Html.ActionLink("infants", "poem", "poems", new { id = 37 }, null)</span>, adolescents, young adults, the middle aged or elderly. Among the side effects of television is binge watching.  Chronic binge watching has been known to occur in otherwise healthy individuals. In cases of binge watching do not attempt to quit watching without the supervision or consent of a spouse. See your doctor if you experience an inability to let go of the remote.  Don’t watch television if you aref allergic to conspicuous consumption. Don’t watch television if the you are unable to tolerate prolonged periods of mediocrity. Alternatives to television include taking a walk, meeting up with friends, jogging, watching the sunset, counting the stars at night and if all else fails, just turn the [f***ing] thing off for the clarity of a wide, blank screen.
                    </p>

                </div>

            </div> <!-- .col-md-6 Poem -->

            @Html.Partial("_PoemNavFooter")
            <br /><br />

        </div> <!-- 10 col row  -->

    </div>  <!-- .container -->
