@model BinaryPlanet.Models.Poem

@section Styles {

    <link href="~/Content/css/custom-row-equal-sizeer.css" rel="stylesheet" />
    <link href="~/Content/css/custom-libre-baskerville-style.css" rel="stylesheet" />

    <title>@Model.Name</title>

}
<div class="container">

    <div class="row eq-size poem-space col-md-10">

        <div class="col-md-3">
            &nbsp;
        </div>

        <div class="col-md-6">
            <br />
            <div class="block style-3">
                <div class="block-image">
                    <div class="view">
                        <img src='@Model.FileNameJpg' title="@Model.Name">
                    </div>
                </div>
            </div>

            <div id="poem">

                <h1 class="title">@Model.Name</h1>
                <p>

                </p>
                <br />
                <p class="publication">

                </p>
            </div>
        </div> <!-- .col 6 -->
        @Html.Partial("_PoemNavFooter")
        <br /><br />
    </div> <!-- .row -->
</div>  <!-- .container -->
