@model BinaryPlanet.ViewModels.PoemViewModel

@section Styles {

    <link href="~/Content/css/custom-row-equal-sizeer.css" rel="stylesheet" />
    <link href="~/Content/css/custom-libre-baskerville-style.css" rel="stylesheet" />

    <title>@Model.Name</title>

}
    <div class="container">

        <div class="row eq-size poem-space col-md-12">

            <div class="col-md-3">
                <h1><small>< 0011 ></small></h1>
            </div>

            <div class="col-md-6">
                <br />
                <div class="block style-3">
                    <div class="block-image">
                        <div class="view">
                            <img src='@Model.FileNameJpg' title="@Model.Name">
                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-6 Image -->

        </div>

        <div class="row eq-size poem-space col-md-12">

            <div class="col-md-3">
                &nbsp;
            </div>

            <div class="col-md-6">
                <div id="poem">
                    <h1 class="title">@Model.Name</h1>

                    <p>
                        The poem that comes to you<br />
                        knows the way. It will stay for a time<br />
                        but not a long time. It needs
                    </p>

                    <p>
                        nothing. The poem is complete. Always<br />
                        at hand. When you wish it would leave<br />
                        it comes back. It’s clean.
                    </p>

                    <p>
                        The poem bites. It stings. Stands<br />
                        before the law. Innocent or guilty.<br />
                        Judge and jury.
                    </p>

                    <p>
                        It cannot be summoned.<br />
                        The poem comes without calling.<br />
                        Rises and shines. Lies without lying.
                    </p>

                    <p>
                        Floats over prose. Its weightless.<br />
                        The poem keeps moving. The poem in the air<br />
                        breathes.
                    </p>

                    <p>
                        The poem on the page<br />
                        is the corpse of the poem. The poem<br />
                        is a thing of ideas.
                    </p>

                    <p>
                        It runs wild. It can’t be caught.<br />
                        The poem is sound. Crafty.<br />
                        It covers its tracks.
                    </p>

                    <p>
                        The poem that comes to you<br />
                        pulls away the shades. Opens for business.<br />
                        Throws you a line.
                    </p>

                    <p>
                        It’s a beggar dressed up<br />
                        like a sage. It is the last hour<br />
                        of an empty house.
                    </p>

                    <p>
                        Unrequited, the poem persists.<br />
                        Unloved, the poem loves. Always the fool.<br />
                        It cannot be outwitted.
                    </p>

                    <p>
                        The poem that comes to you<br />
                        is yours. If you judge, it will be judged.<br />
                        If you write, it will be written.
                    </p>

                    <p>
                        The poem that comes to you<br />
                        is nameless. Name it<br />
                        and it will bear your name.
                    </p>
                </div>

            </div> <!-- .col-md-6 Poem -->

            @Html.Partial("_PoemNavFooter")
            <br /><br />

        </div> <!-- 10 col row  -->

    </div>  <!-- .container -->
