@model BinaryPlanet.ViewModels.PoemViewModel

@section Styles {

    <link href="~/Content/css/custom-row-equal-sizeer.css" rel="stylesheet" />
    <link href="~/Content/css/custom-hypertext-poem-josefin-style.css" rel="stylesheet" />

    <title>@Model.Name</title>

}
<div class="container">

    <div class="row eq-size poem-space col-md-12">

        <div class="col-md-3">
            <h1><small>< 0010 ></small></h1>
        </div>

        <div class="col-md-6">
            <br />
            <div class="block style-3">
                <div class="block-image">
                    <div class="view">
                        <img src='@Model.FileNameJpg' title="@Model.Name">
                    </div>
                </div>
            </div>
        </div> <!-- .col-md-6 Image -->

    </div>

    <div class="row eq-size poem-space col-md-12">

        <div class="col-md-3">
            &nbsp;
        </div>

        <div class="col-md-6">
            <div id="poem">
                <h1 class="title">@Model.Name</h1>
                <p>
                    it was the rain-bomb days  of August<br />
                    &lt;in the age&gt; of [Despcito] ten years<br />
                    after the rise of &lt;modern&gt; food<br />
                    [trucks] during the [penultimate]<br />
                    &lt;season&gt; of “Game of Thrones” 951<br />
                    years since &lt;the @Html.ActionLink("Battle", "poem", "poems", new { id = 31 }, null) of Hastings&gt;<br />
                    just [days] before the North American<br />
                    &lt;eclipse&gt; in the [era] of &lt;John Oliver&gt;<br />
                    a year after [La La Land] when<br />
                    the &lt;Travelocity&gt; dude was riding high<br />
                    but &lt;Progressive&gt; [“Flo”] was slowly<br />
                    losing [ground] these good years<br />
                    of &lt;cold brew&gt; and &lt;MealPal&gt;<br />
                    as [online deliveries] were just<br />
                    &lt;taking hold&gt; 17 [years] before<br />
                    &lt;social security&gt; was set to [run out]<br />
                    as cracks were spreading along<br />
                    &lt;Greenland’s&gt; mountains [we still]<br />
                    wore [earbuds] Frank Underwood<br />
                    was &lt;president&gt; waiting for the [2020]<br />
                    campaign [there were] &lt;snow leopards&gt;<br />
                    in the [wild] it was the age of [Netflix]<br />
                    [HBO] [Amazon] and [Google] years<br />
                    before our inevitable collision with<br />
                    &lt;Andromeda&gt; when the [sun]<br />
                    was still burning [hot] &lt;in middle age&gt;<br />
                    with so much [atomic fuel to burn]<br />
                    there were [blueberries] in our salads<br />
                    &lt;strawberries&gt; in our [Frogurt] they<br />
                    made a table for us [it was] summer<br />
                </p>

            </div>

        </div> <!-- .col-md-6 Poem -->

        @Html.Partial("_PoemNavFooter")
        <br /><br />

    </div> <!-- 10 col row  -->

</div>  <!-- .container -->
